.container-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #000;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 1rem;
    background-color: #faf8f8;
    

}

.card-img {
    width: 150px;
    height: 150px;
    margin: 1rem 0 1rem 0;
    object-fit: cover;
    border-radius: .5rem;
    border: 1px solid #000;
}

.price {
    margin: 1rem 0 1rem 0;
    font-weight: bold;

}

.title {
    text-align: center;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    text-decoration: none;
    border: 1px solid #444;
    background-color: #bbd9de;
    color: #fff;
    font-weight: bold;
    padding: .5rem;
    border-radius: .5rem;
    margin-bottom: .5rem;
    box-shadow: 5px 5px #9d9e9e;
}

.button:hover {
    background-color: #9d9e9e;
    box-shadow: 5px 5px #bbd9de;
}  

.counter {
    margin: 1rem 0 1rem 0;
}